#sidebar {
    background: #222;
    padding: 10px;
    overflow-y: auto;
    width: 200px;
    /* Limitar altura */
}

#viewer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Limitar altura */
}

#mobileDropdownContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}